.chess {
    width: 500px;
    height: 500px;
    background-image: url("../img/chess-board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 63px;
}

.solider {
    position: relative;
    top: 75%;
    left: 12%;

    animation-name: soldier;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

.horse {
    position: relative;
    top: 0;
    left: 0;

    animation-name: horse;
    animation-duration: 11s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.white-horse {
    position: relative;
    top: 87%;
    left: 48%;

    animation: white-horse 3s 5.5s forwards;
}

@keyframes soldier {
    0% {
        top: 75%;
        left: 12%;
    }
    20% {
        top: 49%;
        left: 12%;
    }
    70% {
        top: 49%;
        left: 12%;
    }
    80% {
        top: 49%;
        left: 37%;
    }
    100% {
        top: 49%;
        left: 37%;
        visibility: hidden;
    }
}

@keyframes horse {
    0% {
        top: 0;
        left: 0;
    }
    17% {
        top: 25%;
        left: 0;
    }
    30% {
        top: 25%;
        left: 12%;
    }
    70% {
        top: 25%;
        left: 12%;
    }
    80% {
        top: 25%;
        left: 24%;
    }
    100% {
        top: 49%;
        left: 24%;
    }
}

@keyframes white-horse {
    0% {
        top: 87%;
        left: 48%;
    }
    50% {
        top: 62%;
        left: 48%;
    }
    100% {
        top: 62%;
        left: 36%;
    }
}